a {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 26px;
  letter-spacing: -0.4px;
  word-spacing: 0.4px;
  color: #f08a5d;
  font-weight: normal;
  text-decoration: overline;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
}

body {
  margin: 0;
}

/* .addressLine {
  text-align: center;
  height: 602px;
  width: auto;
  display: flex;
  flex-direction: column;
} */

.bodyContent{
  height: 800px;
  width: auto;
  background-color: #eeecda;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bodyContent2{
  height: 200px;
  width: auto;
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.bodyContent3{
  height: 20px;
  width: auto;
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.bodyContent4{
  height: 130px;
  width: auto;
  background-color: #eeecda;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bodyContent5 {
  height: 80px;
  width: auto;
  background-color: #eeecda;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bodyContent6{
  height: 450px;
  width: auto;
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bodyContentConfirmation {
  height: 200px;
  width: auto;
  background-color: #eeecda;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonOne {
  /* font-size: 50px; */
  text-align: center;
}

.buttonTwo {
  /* font-size: 50px; */
  text-align: center;
}

.buttonThree {
  /* font-size: 50px; */
  text-align: center;
}

.buttonFour {
  /* font-size: 50px; */
  text-align: center;
}

.buttonSpace {
text-align: center;
height: 40px;
}

.cartItems {
  font-size: 60px;
  text-align: center;
}

.checkOutButton {
  text-align: center;
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color:#599bb3;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:30px;
  font-weight:bold;
  /* padding:13px 32px; */
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.checkOutButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.checkoutButtonSpace {
  text-align: center;
}

.checkOutMessage {
  text-align: center;
}

.checkoutTitle {
  text-align: center;
}

.confirmationTitle {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.confirmationTitleSpace {
  margin: 0;
  height: 50px;
  width: auto;
  background-color: #eeecda;
  text-align: center;
}

.copyright {
  text-align: center;
  color: grey;
  padding-top: 20px;
}

.informationTitle {
  height: 50px;
  width: auto;
}

.first {

}

.fourth {

}

.footer {
  height: 100px;
  width: auto;
  background-color: #0f3460;
  margin: 0px;
}

.navBar {
  height: 150px;
  width: auto;
  background-color: #1a1a2e;
  margin: 0px;
}

.navLinks {
  height: 50px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #1a1a2e;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nailPic {
  height: 644px;
  width: 894px;
}

.nailPolishItems {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

.orderConfirmationTitle {
  font-size: 40px;
}

.orderConfirmationTitleSpace {
  height: 100px;
  width: auto;
  text-align: center;
}

.orderConfirmationSpace {
  height: 350px;
  width: auto;
}

.placeOrderButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color:#599bb3;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:40px;
  font-weight:bold;
  /* padding:13px 32px; */
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.placeOrderButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.placeOrderSpace {
  text-align: center;
  height: 300px;
  width: auto;
}

.red {
  width: 180px;
}

.removeButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	/* padding:13px 32px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.removeButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.removeButton:active {
	position:relative;
	top:1px;
}

.removeSpace {
  text-align: center;
  font-size: 12px;
}

.second {
  margin-right: 20px;
}

.submitButtonDiv {
  text-align: center;
  height: 50px;
  width: auto;
}

.submitButton {
  text-align: center;
  font-size: 30px;
}

.third {

}

.title {
  margin: 0px;
  padding-top: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 90px;
  letter-spacing: -0.4px;
  word-spacing: 0.4px;
  color: #f08a5d;
  font-weight: normal;
  text-decoration: overline;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
}

.title2 {
  font-size: 30px;
  text-align: center;
}
